{% extends 'layout_admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %} {#permet d'appeler le thème bootstrap#}

{% block title %}AdminArticleController!{% endblock %}

{% block body %}
    <h1>Add an article</h1>
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    <hr/>
    {{ form_row(form.date) }}
    {{ form_row(form.imageFile) }}
    {{ form_row(form.category) }}
    <button class="btn btn-primary">add</button>
    {{ form_end(form) }}
{% endblock %}
